= form_for @recipe, :html => { :class => "recipe_form"} do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  .ingredients
    %h2 Ingredients
    = f.fields_for :ingredients do |i|
      = render "ingredient_fields", :f => i
    = link_to_add_fields "Add Ingredient", f, :ingredients
  %p
    = f.submit
