:javascript
  $(document).ready(function(){
    var ingredients = #{current_user_foods_autocomplete.to_json};
    $('.ingredient .name input').autocomplete({
      source: ingredients,
       select: function(event, ui) {
         var ingredientElement = $(this).parent().parent();
         ingredientElement.find(".purchase_amount .value").text(ui.item.purchase_amount);
         ingredientElement.find(".purchase_cost .value").text(ui.item.purchase_cost);
       }
    });
  });


  %p
    = f.label :name
    
  .yield
    %h2 Yield
    This recipe makes #{f.text_field :yield_string} servings. Each serving is #{f.text_field :yield_size} big.
  .ingredients
    %h2 Ingredients
    = f.fields_for :ingredients do |i|
      = render "ingredient_fields", :f => i
    = link_to_add_fields "Add Ingredient", f, :ingredients
  %p
    = f.submit
