= form_for @recipe do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  .ingredients
    = f.fields_for :ingredients do |i|
      .amount
        = i.label :amount
        = i.text_field :amount
      .name
        = i.label :name
        = i.text_field :name
      .remove
        = i.check_box :_destroy
        = i.label :_destroy, "Remove"
  %p
    = f.submit
