- new_ingredient ||= false
= i_form.fields_for :food do |f_form|
  %tr{:class=> ["ingredient", ( new_ingredient ? "new" : nil) ] }
    %td.description
      = i_form.text_field :amount, :class => "amount numeric"
      %span.name
        = new_ingredient ? f_form.text_field(:name) : f_form.object.name 
    %td.purchase
      :plain
      (#{ f_form.text_field :purchase_amount, :class => "amount numeric"} 
      @ 
      #{f_form.text_field :purchase_cost, :class => "cost numeric"}) =
    %td.cost
      = dollars(i_form.object.cost)
    %td.delete
      = i_form.check_box :_destroy