.recipe_show_page.recipe_page
  :javascript
    $(document).ready(function(){
      $(".yield .servings input").clickToEdit({format: Bakery.na});
      $(".name h1 input").clickToEdit();
      $(".ingredients .ingredient:not(.new) .description .amount").clickToEdit({format: Bakery.na});
      $(".ingredients .ingredient:not(.new) .purchase .amount").clickToEdit({format: Bakery.na});
      $(".ingredients .ingredient:not(.new) .purchase .cost").clickToEdit({format: Bakery.dollars});
    });

  = form_for @recipe, :html => { :class => "recipe_form"} do |r_form|
    .name
      %h1
        = r_form.text_field :name
    = r_form.error_messages

    .yield
      %h2
        Yield
      .servings    
        Makes #{r_form.text_field :yield_string} servings
        / - if !@recipe.yield_size.blank?
        of #{r_form.text_field :yield_size} each.

      .scale
        I want to get <input name="scale[yield]" value="#{@recipe.yield_string}"/> servings of <input name="scale[yield_size]" value="#{@recipe.yield_size.try_unit}"/> each. 
        %button{:type=>"submit", :name=>"scale", :value=>"scale"}
          Show me the recipe for this amount.

      - if @scaled
        %button{:type=>"submit", :name=>"scale", :value=>"reset"}
          Show me the original recipe amounts

    .ingredients
      %h2
        Ingredients:
      %table
        %tbody
          = r_form.fields_for :ingredients do |i_form|
            = i_form.fields_for :food do |f_form|
              %tr.ingredient
                %td.description
                  = i_form.text_field :amount, :class => "amount"
                  %span.name
                    = f_form.object.name
                %td.purchase
                  :plain
                  (#{ f_form.text_field :purchase_amount, :class => "amount"} 
                  @ 
                  #{f_form.text_field :purchase_cost, :class => "cost"}) =
                %td.cost
                  = dollars(i_form.object.cost)
                %td.delete
                  = i_form.check_box :_destroy
          = r_form.fields_for Ingredient.new do |i_form|
            - i_form.object.food = Food.new
            = i_form.fields_for :food do |f_form|
              %tr.ingredient.new
                %td.description
                  = i_form.text_field :amount, :class => "amount"
                  %span.name
                    = f_form.text_field :name
                %td.purchase
                  :plain
                  (#{ f_form.text_field :purchase_amount, :class => "amount"} 
                  @ 
                  #{f_form.text_field :purchase_cost, :class => "cost"}) =
                %td.cost
                  = dollars(i_form.object.cost)
                %td.delete
                  = i_form.check_box :_destroy
        %tfoot
          %tr.total
            %th.description
            %th.purchase
              Total Recipe Cost =
            %th.cost
              #{dollars(@recipe.cost)}
          %tr.unit_cost
            %th.description
            %th.purchase
              Cost per Serving =
            %th.cost
              #{dollars(@recipe.unit_cost)}
            %th.delete
    #{r_form.submit} or #{link_to "Cancel", recipe_path(@recipe), :class=>"cancel"}

= link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete
|
= link_to "View All", recipes_path
