- title "Recipe"
.recipe_show_page.recipe_page
  %p
    %strong Name:
    = @recipe.name
  .yield
    %h2
      Yield
    :javascript
      $(document).ready(function(){
        $("#servings").clickToEdit();
      });
    Makes <input id="servings" name="yield readonly" value="#{@recipe.yield_string}" class="yield" /> servings
    - if !@recipe.yield_size.blank?
      of #{@recipe.yield_size.try_unit} each.

    %form.scale{:method => "get", :action=> recipe_path(@recipe)}
      I want to get <input name="yield" value="#{@recipe.yield_string}"/> servings of <input name="yield_size" value="#{@recipe.yield_size.try_unit}"/> each. 
      %button{type="submit"}
        Show me the recipe for this amount.
  
    - if @scaled
      %form.reset{:method => "get", :action=> recipe_path(@recipe)}
        %button{type="submit"}
          Show me the original recipe amounts

  .ingredients
    %h2
      Ingredients:
    %table
      %tbody
        -for ingredient in @recipe.ingredients
          %tr
            %td.description
              %span.amount
                = ingredient.amount.try_unit
              %span.name
                = ingredient.food.name
            %td.purchase
              (
              %span.purchase_cost
                = dollars(ingredient.food.purchase_cost)
              for
              %span.purchase_amount
                = na(ingredient.food.purchase_amount.try_unit)
              )
              \= 
            %td.cost
              = dollars(ingredient.cost)
      %tfoot
        %tr.total
          %th.description
          %th.purchase
            Total Recipe Cost
          %th.cost
            = dollars(@recipe.cost)
        %tr.unit_cost
          %th.description
          %th.purchase
            Cost per Serving
          %th.cost
            = dollars(@recipe.unit_cost)
    = link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", recipes_path
