= form_for [@recipe, @ingredient] do |f|
  = f.error_messages
  - if @ingredient.food
    %p
      @ingredient.food.name
  %p
    = f.label :sort_order
    %br/
    = f.text_field :sort_order
  %p
    = f.label :amount
    %br/
    = f.text_field :amount
  %p= f.submit
