!!!
%html
  %head
    %title<
      = "#{@page_title ? @page_title + ' : ' : '' }SoftCraft's Bakery Project"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %h1
      = "#{@page_title ? @page_title : 'SoftCraft\'s Bakery Project' }"
    = yield
